<h1 class="display-3">Posts</h1>
  <p id="notice"><%= notice %></p>

  <%= render 'row', posts: @posts %>

<br>
<%= paginate @posts %>  <!-- Para que aparezca abajo el enlace que permite cambiar a otras páginas --!>
<br>

<%= link_to 'New Post', new_post_path %> 

  
